.edit__form {
  position: absolute;
  display: flex;
  align-items: center;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__input {
    width: 35rem;
    height: 3rem;
    margin-bottom: 0.5rem;
    margin-right: 2rem;
  }

  &__button {
    width: 12rem;
    height: 5rem;
    border-radius: 10px;
  }
}
